/* Navbar container */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.nav {
    position: sticky;
  top: 0;
  
}
.menu-container {
    display: flex;
    justify-content: space-between; /* Logo left, menu right */
    background-color: #000; /* Black background */
    padding: 0.5rem 2rem;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    /* margin-top: 3%; */
  }
  
  /* Logo styling */
  .navbar-logo a {
    color: #fff;
    font-size: 1.5rem;
    text-decoration: none;
  }
  
  /* Menu items */
  .navbar-lists ul {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 5rem;
    margin: 0;
    padding: 0;
  }
  
  .navbar-lists ul li a {
    color: #fff;
    text-decoration: none;
    transition: filter 0.2s ease;
  }
  
  .navbar-lists ul li a:hover {
    filter: brightness(50%);
    -webkit-filter: brightness(50%);
}
  
  /* Responsive styling */
  @media (max-width: 768px) {
    .menu-container {
      flex-direction: column;
      align-items: flex-start;
      padding: 1rem;
    }
  
    .navbar-lists ul {
      flex-direction: column;
      gap: 1rem;
      width: 100%;
    }
  
    .navbar-lists ul li a {
      width: 100%;
    }
  }
  /* button style  */
  /* From Uiverse.io by ernestnash */ 
.call-to-action {
    font-family: 'Montserrat', sans-serif;
    width: 170px;
    height: 32px;
    padding: 0.2rem 0.9rem;
    margin-bottom:px ;
    font-size: 13px;
    color: white;
    border: 1px solid #ffffff6f;
    border-radius: 15px ;
    cursor: pointer;
    position: relative;
    background-color: transparent;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
    -webkit-border-radius: 15px ;
    -moz-border-radius: 15px ;
    -ms-border-radius: 15px ;
    -o-border-radius: 15px ;
}
   
   .call-to-action::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #562e7b;
    transform: translateX(-100%);
    transition: all 1s;
    z-index: -1;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
}
   
   .call-to-action:hover::before {
    transform: translateX(0);
  
   }
  