@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body {
  font-family: 'Montserrat', sans-serif;
  background-color: black;
}

.nav-test {
  position: sticky;
  top: 0;
  background: red;
  color: white;
  padding: 20px;
  z-index: 9999;
}

.test-height {
  height: 200vh;
}



